/* Layout */

/** {*/

/* pour maîtriser width et flex-basis */

/*  box-sizing: border-box;*/

/*}*/

/*
html {
  display: flex;
   correction bug IE de min-height non appliqué à body 
  flex-direction: column;
}
*/

body {
    /* crée un contexte flex pour ses enfants */
    display: flex;
    /* affichage vertical */
    flex-direction: column;
    /* toute la hauteur du viewport */
    min-height: 100vh;
}

.wrapper {
    /* occupe la hauteur restante */
    flex: 1 1 auto;
    /* crée un contexte flex pour ses enfants */
    display: flex;
}

nav,
aside {
    width: 10em;
}

article {
    /* occupe la largeur restante */
    flex: 1;
}

nav {
    /* nav s'affiche en premier */
    order: -1;
}

/* Responsive (fenêtres de moins de 640px) */

@media (max-width: 640px) {
    .wrapper {
        /* affichage vertical */
        flex-direction: column;
    }
    nav,
    aside {
        /* pour écraser la valeur 10em */
        width: auto;
    }
    nav,
    aside,
    article {
        /* pour écraser la valeur 0, due au flex: 1 */
        flex-basis: auto;
    }
    nav {
        /* nav reprend sa place */
        order: 0;
    }
}

/* Decoration */

body {
    margin: 0;
    background: #999;
}

header,
nav,
aside,
article,
footer {
    padding: 1em;
}

header {
    background: #feb;
}

nav {
    background: #ccf;
}

aside {
    background: #ccf;
}

article {
    background: #dd8;
}

footer {
    background-color: #f4f4f4;
}

/*
* {
  box-sizing: border-box;
}
*/

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 0;
    min-height: 100vh;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h2,
h3,
a {
    color: #34495e;
}

a {
    text-decoration: none;
}

.logo {
    margin: 0;
    font-size: 1.45em;
}

.main-nav {
    margin-top: 5px;
}

.logo a,
.main-nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

.main-nav a {
    color: #34495e;
    font-size: .99em;
}

.main-nav a:hover {
    color: #718daa;
}

.header {
    z-index: 2;
    padding-top: .5em;
    padding-bottom: .5em;
    background-color: #f4f4f4;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
}

/* ================================= 
Media Queries
==================================== */

@media (min-width: 769px) {
    .header,
    .main-nav {
        display: flex;
    }
    .header {
        flex-direction: column;
        align-items: center;
        .header {
            width: 80%;
            margin: 0 auto;
            max-width: 1150px;
        }
    }
}

@media (min-width: 1025px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
}

/*----------------------------------------*/

/*
body {
    margin: 0;
}
*/

#loginMod {
    display: none;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#registrationMod {
    display: none;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#forgotPasswordMod {
    display: none;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#notificationMod {
    display: none;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#usernameMod {
    display: none;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#emailMod {
    display: none;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#passwordMod {
    display: none;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

li>a {
    cursor: pointer;
}

.loginForm {
    position: relative;
    width: 350px;
    height: 260px;
    top: 50%;
    left: 50%;
    margin: -155px 0 0 -200px;
    background: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    padding: 25px;
    text-align: center;
}

.registrationForm {
    position: relative;
    width: 350px;
    height: 390px;
    top: 50%;
    left: 50%;
    margin: -220px 0 0 -200px;
    background: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    padding: 25px;
    text-align: center;
}

.forgotPasswordForm {
    position: relative;
    width: 350px;
    height: 150px;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -200px;
    background: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    padding: 25px;
    text-align: center;
}

.notificationForm {
    position: relative;
    width: 350px;
    height: 195px;
    top: 50%;
    left: 50%;
    margin: -122.5px 0 0 -200px;
    background: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    padding: 25px;
    text-align: center;
}

.usernameForm {
    position: relative;
    width: 350px;
    height: 210px;
    top: 50%;
    left: 50%;
    margin: -130px 0 0 -200px;
    background: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    padding: 25px;
    text-align: center;
}

.emailForm {
    position: relative;
    width: 350px;
    height: 210px;
    top: 50%;
    left: 50%;
    margin: -130px 0 0 -200px;
    background: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    padding: 25px;
    text-align: center;
}

.resetPasswordForm {
    position: absolute;
    width: 350px;
    height: 210px;
    top: 50%;
    left: 50%;
    margin: -130px 0 0 -200px;
    background: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    padding: 25px;
    text-align: center;
}

.passwordForm {
    position: relative;
    width: 350px;
    height: 270px;
    top: 50%;
    left: 50%;
    margin: -160px 0 0 -200px;
    background: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    padding: 25px;
    text-align: center;
}

.accountForm {
    position: relative;
    width: 350px;
    height: 250px;
    top: 50%;
    left: 50%;
    margin: -160px 0 0 -200px;
    background: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    padding: 25px;
    text-align: center;
}

.accountProp {
    height: 30px;
    margin-bottom: 20px;
}

.titleForm {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #34495e;
}

input[type=text],
input[type=password],
input[type=submit],
input[type=email] {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: white;
    color: black;
}

input[type=submit] {
    background-color: #428bca;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #3B7DB5;
}

input[type=checkbox] {
    margin-bottom: 20px;
    float: right;
    transform: scale(1.5);
}

.forgot {
    position: relative;
    top: 1px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 6px 12px;
    background: #f4f4f4;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 14px;
    color: #718daa;
}

.forgot:hover {
    color: #34495e;
    background: #eee;
    cursor: pointer;
}

i {
    font-size: 20px;
    position: absolute;
    top: -3px;
    right: 5px;
    color: #718daa;
    font-style: inherit;
    cursor: pointer;
}

i:hover {
    font-size: 20px;
    color: #34495e;
}

.notificationDescription {
    margin-bottom: 20px;
    float: left;
}

input[type=button] {
    background-color: #428bca;
    border: none;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

input[type=button]:hover {
    background-color: #3B7DB5;
}

.unauthorized {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -200px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.code {
    color: #34495e;
    font-size: 100px;
    margin: 30px 0 0 0;
}